/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/
:root {
    --font-light: #ffffff;
    --font-dark: #000000;
    --bg-light: #F4F4F5af;
    --bg-dark: #18181Baf;
}

::selection {
    color: red;
    background-color: rgba(0, 0, 0, 0.2);
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(184, 184, 184);
    font-family: "Andada", sans-serif;
    background-image: url(img/bg/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

/*  nav  */
nav {
    width: 100%;
    height: 50px;
    background-color: rgba(21, 21, 21, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
}
nav span {
    position: absolute;
}
.nav-span-left {
    bottom: -4px;
}
nav i {
    font-size: 40px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    color: #F4F4F5;
}

/*  header  */

header {
    width: 100%;
    height: 900px;
    margin-top: -50px;
    background: none;
}
header div.bg {
    height: 100vh;
}
header div.bg div.bg-inside {
    margin: 33vh auto auto auto;
    width: max-content;
    color: white;
    text-align: center;
}
header div.bg div.bg-inside img {
    border-radius: 50%;
    width: 34vh;
}
header div.bg div.bg-inside h1 {
    font-size: 4vh;
}

/*  main  */
main {
    width: 100%;
    margin-top: -7px;
    height: max-content;
    background: none;
    position: relative;
}
main div.projects {
    margin: 50px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;

    transition: .2s ease;
}
main div.projects div.panel {
    background-color: var(--bg-dark);
    color: var(--font-light);
    width: 70%;
    height: 500px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    position: relative;

    transition: .2s ease;
}
main div.projects div.panel:hover {
    scale: 100.6%;
    box-shadow: 20px 20px 15px black;

    transition: .2s ease;
}

main div.projects div.panel div.title {
    position: relative;
}
main div.projects div.panel div.title img {
    width: 40px;
    position: absolute;
    top: 0;
    left: 10px;
}
main div.projects div.panel div.title h1 {
    margin-left: 60px;
}
main div.projects div.panel div.content-left {
    width: 70%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
    font-family: "Roboto", sans-serif;
}
main div.projects div.panel div.content-left hr{
    padding-right: 70%;
    bottom: 130px;
    position: absolute;
}
main div.projects div.panel div.content-left p.users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
    height: 90px;
    max-height: 90px;
    position: absolute;
    bottom: 0;
}
main div.projects div.panel div.content-left p.users span {
    position: absolute;
    bottom: 90px;
    width: max-content;
    margin-bottom: 6px;
}
main div.projects div.panel div.content-left p.users img {
    border-radius: 50%;
    height: 50px;
    margin-right: 3px;
}
main div.projects div.panel div.content-left p.users img:hover {
    filter: grayscale(100%);
}

main div.projects div.panel div.content-right {
    width: 24%;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

/*  list  */
main div.projects div.panel div.content-right ul {
    list-style: none;
}
main div.projects div.panel div.content-right ul li:first-of-type{
    font-size: 1.2em;
}
main div.projects div.panel div.content-right ul li:not(:first-of-type) {
    margin-left: 5%;
}
main div.projects div.panel div.content-right ul li span {
    font-weight: bold;
}

/*  Sidebar  */

main div.sidebar {
    width: 400px;
    height: 98.5%;
    position: absolute;
    right: 4%;

    transition: .2s ease;
}
main div.sidebar div.content {
    width: 100%;
    height: 84vh;
    margin: -20px auto auto auto;
    position: sticky;
    top: 90px;
    background-color: var(--bg-dark);
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
}

main div.sidebar div.content div.s-media {
    margin-top: 20px;
    margin-left: 10px;
}
main div.sidebar div.content div.s-media p {
    display: inline-block;
}
main div.sidebar div.content div.s-media p a {
    color: red;
    font-size: 1.1em;
    text-decoration: none;
}

main div.sidebar div.content div.links {
    margin-top: 10px;
}
main div.sidebar div.content div.links ul li {
    margin-bottom: 4px;
}
main div.sidebar div.content div.links ul li:first-of-type {
    list-style: none;
    margin-bottom: -10px;
    margin-left: -20px;
}
main div.sidebar div.content div.links ul li a {
    color: green;
    text-decoration: none;

    transition: .5s ease-out;
}
main div.sidebar div.content div.links ul li:hover a {
    text-decoration: underline;
    color: rgb(0, 70, 0);
    margin-left: 10px;

    transition: .2s ease-in;
}

main div.sidebar div.content div.s-media p.dc a img {
    margin-bottom: 5%;
    margin-right: 55%;
    filter: grayscale(70%);
}
main div.sidebar div.content div.s-media p.dc:hover a img {
    filter: grayscale(0);
}
main div.sidebar div.content div.s-media p.yt a img {
    margin-bottom: 5%;
    margin-right: 55%;
    filter: grayscale(80%);
}
main div.sidebar div.content div.s-media p.yt:hover a img {
    filter: grayscale(0);
}
main div.sidebar div.content div.s-media p.gh a {
    filter: invert(0);
}
main div.sidebar div.content div.s-media p.gh a:hover {
    filter: invert(1);
}

/*  footer  */

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
}
footer p {
    text-align: center;
    padding-top: 15px;
}

@media (max-width: 1500px) {
    main div.sidebar {
        width: 400px;

        transition: .2s ease;
    }
    main div.projects {
        width: 80%;
        margin-left: 20px;

        transition: .2s ease;
    }
}
@media (max-width: 1080px) {
    main div.sidebar {
        width: 300px;

        transition: .2s ease;
    }
    main div.projects {
        width: 70%;
        margin-left: 20px;

        transition: .2s ease;
    }
    main div.projects div.panel div.content-left {
        width: 60%;
    }
    main div.projects div.panel div.content-right {
        width: 20%;
    }
}
@media (max-width: 750px) {
    main div.sidebar {
        width: 230px;

        transition: .2s ease;
    }
    main div.projects {
        width: 80%;
        margin-left: 20px;

        transition: .2s ease;
    }
}